<!--Can't leave space in the <a> tags since it displays on screen (when you hover icon)-->

{% if site.github_username %}
<a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
{% endif %}

{% if site.linkedin_username %}
<a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
{% endif %}

{% if site.linkedin_username %}
<a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
{% endif %}

{%- if site.scholar_id -%} 
<a href="https://scholar.google.com/citations?user={{ site.scholar_id | cgi_escape | escape }}">
<i class="fa fa-graduation-cap" aria-hidden="true"></i>
</a>
{%- endif -%}

<!--</br>-->
<!--{% if site.email %}-->
    <!--{{site.email}}-->
<!--{% endif %}-->
